<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>구단 순위</title>

<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>순위</th>
				<th>팀명</th>
				<th>경기</th>
				<th>승점</th>
				<th>승</th>
				<th>무</th>
				<th>패</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="standings : ${standings}">
				<td th:text="${standings.rank}"></td>
				<td th:text="${standings.teamName}"></td>
				<td th:text="${standings.played}"></td>
				<td th:text="${standings.points}"></td>
				<td th:text="${standings.win}"></td>
				<td th:text="${standings.draw}"></td>
				<td th:text="${standings.lose}"></td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>